@tailwind base;

ul {
  list-style-type: disc;
  padding-left: theme('padding.6');
}
ol {
  list-style-type: decimal;
  padding-left: theme('padding.6');
}

@tailwind components;
@tailwind utilities;

.bg-gradient-blue {
  background-image: linear-gradient(
    to top,
    #51daf5,
    theme('colors.blue.600')
  );
}


.message {
  @apply relative bg-gray-100 border-solid border-0 border-l-4 border-gray-600 rounded-b pl-6 pr-4 py-3 my-3;
}
.message:before {
  content: "!";
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  @apply absolute top-0 left-0 -ml-3 mt-3 w-5 h-5 text-white text-center font-bold bg-gray-600 rounded-full leading-tight;
}
.message.is-primary {
  @apply border-blue-400;
}
.message.is-primary:before {
  @apply bg-blue-400;
}
.message.is-info {
  @apply border-teal-400;
}
.message.is-info:before {
  @apply bg-teal-400;
}
.message.is-success {
  @apply border-green-400;
}
.message.is-success:before {
  @apply bg-green-400;
}
.message.is-warning {
  @apply border-yellow-400;
}
.message.is-warning:before {
  @apply bg-yellow-400;
}
.message.is-danger {
  @apply border-red-400;
}
.message.is-danger:before {
  @apply bg-red-400;
}