// Navbar
.navbar {
    &.is-fixed-top.is-fadein {
        animation:navbarShow 1s both;
        & + main {
            margin-top: 5rem;
        }
    }


    .navbar-brand {
      .navbar-brand__title {
        font-size: 2rem;
  
        & + .subtitle {
          color: #fff;
        }
      }
      .navbar-burger {
          height: 5rem;
          width: 5rem;
      }
    }
  
    .navbar-menu {
        & > .navbar-start, & > .navbar-end {
            a {
                font-weight: 600;
            }
        }
    }
}


@keyframes navbarShow {
	0% {
		transform:translate(0, -10rem);
		opacity:0;
	}
	100% {
		transform:translate(0, 0);
		opacity:1;
	}
}

// Card
.card {
    -webkit-box-shadow: 5px 5px 3px rgba(10, 10, 10, .2), 0 0 0 1px rgba(10, 10, 10, .2);
    box-shadow: 5px 5px 3px rgba(10, 10, 10, .2), 0 0 0 1px rgba(10, 10, 10, .2);
}

// Image
.image {
    &.is-circle > img {
        border-radius: 50%;
    }
}

// breadcrumb
.breadcrumb {
    &.is-bg-white {
        padding: 1rem;
        background: #fff;
        margin-bottom: 0;
    }

    &.has-shadow {
        box-shadow: 0 2px 0 0 #f5f5f5;
    }
}

// button
.button {
    &:hover {
        -webkit-transform: scale(1.02) translateY(-2px);
        transform: scale(1.02) translateY(-2px);
    }

    
    &.is-circle {
        border-radius: 10rem;
        width: 2.25em;
        height: 2.25em;
        padding-left: 0;
        padding-right: 0;
    }
}


.button-group {
    .button:not(.is-square) {
        border-radius: 0;
        margin: 0 1px;
        &:first-child {
            border-top-left-radius: $control-radius;
            border-bottom-left-radius: $control-radius;
            margin-left: 0;
        }

        &:last-child {
            border-top-right-radius: $control-radius;
            border-bottom-right-radius: $control-radius;
            margin-right: 0;
        }
    }
  
    &.level {
        .level-item {
            .button:not(.is-square) {
                border-radius: 0;
                margin: 0 1px;
            }
    
            &:first-child {
                .button {
                    border-top-left-radius: $control-radius;
                    border-bottom-left-radius: $control-radius;
                    margin-left: 0;
                }
            }
    
            &:last-child {
                .button {
                    border-top-right-radius: $control-radius;
                    border-bottom-right-radius: $control-radius;
                    margin-right: 0;
                }
            }
        }
    }
}


.article__content {
    & > :first-child + h3 {
        text-align: center;

        & + ul {
            background-color: #F9F9F9;
            border: 1px solid #AAAAAA;
            margin-left: 0;
            margin-bottom: 4rem;
            padding: 1rem;
        }
    }


    & > h2 {
        padding: 1.2rem .75rem;
        background-color: #f6f6f6;
        border-left: 6px solid $primary;
    }

    & > :not(:first-child) + h3 {
        padding: .5rem .75rem;
        border-left: 6px solid $primary;
    }

    table {
        border: 1px solid #dee2e6;

        & > thead, & > tbody {
            & > tr {
                & > th {
                    color: #495057;
                    background-color: #e9ecef;
                    border-width: 1px;
                }
            }
        }

        & > tbody {
            & > tr {
                & > td {
                    border-width: 1px;
                }
            }
        }
    }
}

// tag
$tag-colors: (
    "primary": $primary,
    "info": $info,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
);

.tag {
    @each $key, $color in $tag-colors {
        &.is-#{$key}.is-outlined {
            background-color: transparent;
            border-color: map-get($tag-colors, $key);
            color: map-get($tag-colors, $key);
            border: 1px solid;
        }
    }
}

.shadow {
    @each $key, $color in $tag-colors {
        &.is-#{$key} {
            -webkit-box-shadow: inset 0 -6px 0 rgba(map-get($tag-colors, $key),.2);
            box-shadow: inset 0 -6px 0 rgba(map-get($tag-colors, $key),.2);
        }
    }
}


.google-map {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;    
    }
}

.embed-responsive {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe, object, embed, video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;    
    }
}

.Cookie__button {
    color: $dark;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .breadcrumb {
        ul {
            & > li.is-active {
                & > a {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1087px) {
    .navbar-burger span:nth-child(1) {
        top: calc(50% - 7px);
    }
    .navbar-burger span:nth-child(3) {
        top: calc(50% + 6px);
    }
    .navbar-menu {
        background-color: $primary;
        color: $white;

        .navbar-item, .navbar-link {
            color: $white;
        }
        a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
            background-color: $primary;
            color: $white;
        }
    }

    .article__content {
        h2 {
            font-size: 1.4rem;
        }
        h3 {
            font-size: 1.2rem;
        }
    }
    
}