@import "~bulma/sass/utilities/_all";

$variable-columns: false;
$primary: #205492;
$primary-invert: findColorInvert($primary);
$danger: #B01232;
$danger-invert: findColorInvert($danger);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$facebook: #3B5998;
$facebook-invert: findColorInvert($facebook);
$hatena: #008fde;
$hatena-invert: findColorInvert($hatena);